{% extends "layout.html" %}
{% block title %}Mastermind 4 digits{% endblock %}
{% block content %}
            <div class="topside">
                <div class="top_answers">
                    <figure class="circle">?</figure>
                    <figure class="circle">?</figure>
                    <figure class="circle">?</figure>
                    <figure class="circle">?</figure>
                </div>

                <div class="play_field">

                </div>

                <div class="right_play_check">

                </div>
            </div>

            <div class="bottomside">
                <h1>Controls</h1>
            </div>
{% endblock %}