{% extends "layout.html" %}
{% block title %}Overzicht{% endblock %}
{% block content %}
    <p>Hallo, {{ name }}. Welkom bij Mastermind</p>

    <p>Begin een nieuwe game: </p>
    <form method="post" action="/startgame/">
        <p><input type="hidden" name="username" value="{{ name }}"></p>
        <p>Aantal posities:</p>
        <select name="amount_of_boxes">
            <option>4</option>
            <option>6</option>
        </select>
        <p>Dubbele kleuren</p>
        <select name="multiple_colors">
            <option>Ja</option>
            <option>Nee</option>
        </select>
        <p>Aantal kleuren:</p>
        <select name="amount_of_colors">
            <option>6</option>
            <option>10</option>
        </select>
        <p><input type="submit" value="Starten"></p>
    </form>
    <form method="post" action="/leaderboard/{{ name }}">
        <input type="hidden" name="username" value="{{ name }}">
        <input type="submit" value="Scores">
    </form>
{% endblock %}
